.green-card-section {
  height: 200px;
  border-bottom: 1px solid black;
  width: 85%;
  display: flex;
  margin: auto;
  font-family: 'PT Sans Narrow', sans-serif;
}

.green-section-card {
  height: 120px;
  width: 250px;
  margin-top: 50px;
  margin-right: 12px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.green-section-card-h2 {
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
}