.sports-banner-title {
  color: white;
  font-size: 75px;
  letter-spacing: 2px;
  margin-top: 100px;
  margin-left: -1000px;
}

.sports-banner-input {
  z-index: 5;
  position: absolute;
  margin: auto;
  width: 100vw;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.sports-banner-background {
  width: 100vw;
}

.sports-banner-section {
  position: relative;
}

.sports-search-bar-icon {
  width: 800px;
}