.banner-title {
  z-index: 5;
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
}

.banner-input {
  z-index: 5;
  position: fixed;
  margin: auto;
  width: 100vw;
}

.banner-background {
  width: 100vw;
}